In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/world_cities.csv')
df.head(3)

   Unnamed: 0 City / Urban area    Country  Population  Land area (in sqKm)
0           0      Buenos Aires  Argentina    11200000                 2266
1           1         Melbourne  Australia     3162000                 2080
2           2            Sydney  Australia     3502000                 1687

질문1. 익중이는 누나에게 여행지를 추천 받으려고 합니다.
그런데 나라 이름이 기억나지 않고, 이 데이터에 4개의 도시가 나왔다는 것만 기억이 난다고 하네요.
이 나라는 무엇일까요?

In [23]:
contries = df['Country'].value_counts()
contries

Country
USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Israel           1
Kuwait           1
Malaysia         1
Netherlands      1
Zimbabwe         1
Name: count, Length: 61, dtype: int64

In [24]:
contries[contries==4]

Country
Italy    4
Name: count, dtype: int64